name: test

on:
  workflow_dispatch:
    inputs:
      iam-role-arn:
        description: 'IAM role ARN'
        required: true
      aws-region:
        description: 'AWS region'
        required: false
        default: 'ap-northeast-1'

permissions:
  id-token: write
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - id: aws
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ github.event.inputs.iam-role-arn }}
          aws-region: ${{ github.event.inputs.aws-region }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - uses: ezqy/setup@main
      - id: token
        run: |
          token=$(aws ecr get-login-password)
          echo "token=$token" >> $GITHUB_OUTPUT

      - uses: docker/build-push-action@v4
        with:
          outputs: type=docker,dest=image.tar
          context: ./push_image/__tests__/data
          tags: ${{ steps.aws.outputs.aws-account-id }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/soci-action:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - uses: ezqy/push@main
        with:
          user: AWS
          token: ${{ steps.token.outputs.token }}
          tag: latest
          docker-image-path: image.tar

